.homepage-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.homepage-formulario {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.homepage-pageheading {
  top: 112px;
  left: 0px;
  width: 1440px;
  height: 149px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.homepage-listchip {
  gap: 8px;
  top: 75px;
  left: 1026px;
  width: 318px;
  height: 40px;
  display: flex;
  padding: 10px 16px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(194, 194, 194, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  justify-content: center;
  background-color: rgba(237, 34, 65, 1);
}
.homepage-text {
  top: 9.5px;
  left: 16px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.homepage-text02 {
  top: 56px;
  left: 96px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 64px;
  font-style: Regular;
  text-align: left;
  font-family: Newsreader;
  font-weight: 400;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.homepage-divider {
  top: 149px;
  left: 96px;
  width: 1248px;
  height: 1px;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
}
.homepage-summary {
  top: -11px;
  left: -19px;
  width: 1483px;
  height: 123px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 24px;
  background-color: rgba(250, 250, 245, 1);
}
.homepage-navigation {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 112px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.homepage-navigation1 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 112px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.homepage-text04 {
  top: 43px;
  left: 93px;
  color: rgba(237, 34, 65, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Medium;
  text-align: left;
  font-family: Newsreader;
  font-weight: 500;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.homepage-text06 {
  top: 45px;
  left: 896px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.homepage-text08 {
  top: 45px;
  left: 1075px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.homepage-text10 {
  top: 45px;
  left: 967px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.homepage-cartbutton {
  gap: 8px;
  top: 32px;
  left: 1218px;
  width: 126px;
  height: 48px;
  display: flex;
  padding: 14px 23px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px;
  justify-content: center;
  background-color: rgba(237, 34, 65, 1);
}
.homepage-text12 {
  top: 11px;
  left: 14px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.homepage-iesb3 {
  top: 42px;
  left: 394px;
  width: 35px;
  height: 33px;
  position: absolute;
}
.homepage-rectangle8 {
  top: 302px;
  left: 484px;
  width: 471px;
  height: 694px;
  position: absolute;
  border-radius: 15px;
}
.homepage-line7 {
  top: 712px;
  left: 513px;
  width: 394px;
  height: 1px;
  position: absolute;
}
.homepage-text14 {
  top: 650px;
  left: 513px;
  color: rgba(255, 255, 255, 1);
  width: 179px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.homepage-text16 {
  top: 525px;
  left: 514px;
  color: rgba(255, 255, 255, 1);
  width: 179px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.homepage-text18 {
  top: 585px;
  left: 513px;
  color: rgba(255, 255, 255, 1);
  width: 179px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.homepage-rectangle9 {
  top: 330px;
  left: 566px;
  width: 308px;
  height: 49px;
  position: absolute;
}
.homepage-text20 {
  top: 346px;
  left: 581px;
  color: rgba(0, 0, 0, 1);
  width: 283px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.homepage-line3 {
  top: 456px;
  left: 514px;
  width: 394px;
  height: 2px;
  position: absolute;
}
.homepage-line4 {
  top: 512px;
  left: 514px;
  width: 394px;
  height: 1px;
  position: absolute;
}
.homepage-line5 {
  top: 569px;
  left: 514px;
  width: 394px;
  height: 1px;
  position: absolute;
}
.homepage-line6 {
  top: 627px;
  left: 513px;
  width: 394px;
  height: 1px;
  position: absolute;
}
.homepage-text22 {
  top: 412px;
  left: 514px;
  color: rgba(255, 255, 255, 1);
  width: 179px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.homepage-text24 {
  top: 469px;
  left: 514px;
  color: rgba(255, 255, 255, 1);
  width: 179px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.homepage-image1 {
  top: 683px;
  left: 513px;
  width: 23px;
  height: 24px;
  position: absolute;
}
.homepage-text26 {
  top: 682px;
  left: 539px;
  color: rgba(255, 255, 255, 1);
  width: 6px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.homepage-rectangle10 {
  top: 685px;
  left: 549px;
  width: 109px;
  height: 22px;
  position: absolute;
  border-radius: 4px;
}
.homepage-text27 {
  top: 689px;
  left: 554px;
  color: rgba(0, 0, 0, 1);
  width: 99px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}



.homepage-custom-button {

  background-color: #fff; 
  color: #000000; 
  border: none; 
  padding: 10px 20px; 
  border-radius: 5px; 
  cursor: pointer; 
  font-size: 16px;
  position: absolute; 
  top: 740px; 
  left: 720px; 
  transform: translateX(-50%); 
}


